.header-container {
  width: 100%;
}

.bottom {
  display: flex;
  align-content: flex-end;
}

.header {
  padding-left:40px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 10px;
  width: 90%;
}

.github {
  font-size: 1.25em;
}

.linkedin {
  font-size: 1.25em;
}

.text {
  color: #C70039;
  font-family: 'Open Sans', sans-serif;
}

.center {
  text-align: center;
  position: fixed;
  font-weight: 700;
  top: 40%;
  left: 40%;
}

/*.linkedin {
  right:
}*/

.title {
  font-size: 2em;
}

.instructions {
  font-size: 1em;
  margin-top: .35em;
}

.canvas {
  background-color: rgb(181, 181, 181);
  position: absolute;
  left: 0;
  z-index: -10;
}

.animations {
  height: 100%;
  width: 100%;
  right: 100%;
  position: absolute;
  animation: myframes 2s ease-in-out 0 infinite;
}

.black {
  background-color: #000000;
}

.red {
  background-color: #FF0000;
}

.cyan {
  background-color: #00FFFF;
}

.lilac {
  background-color: #b666d2;
}

.green {
  background-color: #77dd77;
}

.pink {
  background-color: #ffd1dc;
}

.white {
  background-color: #fff;
}
